/*selector universal*/
*{
    background-color: yellow;
}

/*selector de elemento*/
h1,h3{
    background-color: aqua;
    text-align: center;
}

/*selector de clase*/
p.parrafo{
text-align: center;
background-color: aquamarine;
}

/*selector de id*/
p#cochina{

    color: rgb(177, 15, 155);
}

div.caja{
    
    border-color: 5px;
    border-width: 100px;
    margin-right: 150px;
    border-style:ridge;
    border-top-left-radius: 20px;
    border-top-right-radius: 500px;
    border-image-source: url(./que\ duro\ mario\ satos.png);
    border-image-repeat: repeat;
    border-image-slice: 100;

}

p.dylanRocha{
text-align: center;
text-shadow: 50px;
-webkit-text-stroke:1px;
border-bottom-right-radius: 50px;
}

div p{
    color: rgb(0, 0, 0);
   

}


/*selectores hijos*/

div.caja>p{
    margin-bottom: 5px solid;
    border-top-color: blue;
    
}

div.divPolla{
    border-color: 5px;
    border-width: 100px;
    margin-right: 150px;
    border-style:ridge;
    border-top-left-radius: 20px;
    border-top-right-radius: 500px;
    border-image-source: url();

}
 