/*selector universal*/

   
    
   


/*selector de elemento*/
h1,h3{
    background-color: aqua;
    text-align: center;
}

/*selector de clase*/
p.parrafo{
text-align: center;
background-color: aquamarine;
}

/*selector de id*/
p#cochina{

    color: rgb(177, 15, 155);
}

div.caja{
    
    border-color: 5px;
    border-width: 100px;
    margin-right: 150px;
    border-style:ridge;
    border-top-left-radius: 20px;
    border-top-right-radius: 500px;
    border-image-source: url(./que\ duro\ mario\ satos.png);
    border-image-repeat: repeat;
    border-image-slice: 100;

}

p.dylanRocha{
text-align: center;
text-shadow: 50px;
-webkit-text-stroke:1px;
border-bottom-right-radius: 50px;
}

div p{
    color: rgb(0, 0, 0);
   

}


/*selectores hijos*/

div.caja>p{
    margin-bottom: 5px solid;
    border-top-color: blue;
    
}

div.divPolla{
    border-color: 5px;
    border-width: 100px;
    margin-right: 150px;
    border-style:ridge;
    border-top-left-radius: 20px;
    border-top-right-radius: 500px;
    border-image-source: url();
    font-size: 90px;
    text-shadow: rgb(159, 131, 131) 8px 8px, rgb(255, 0, 51) -8px -8px;

}

div.textocss{
    letter-spacing: 5px;
    text-decoration: underline;
}

span.polla{
    word-spacing: 100px;
}

span.dolorsitamet{
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 150%;
    text-shadow: gray 0 3px 7px;
    
}

@font-face {
    font-family: "Pecita";
    src: url("./pecita-5-4.otf");
}

 p.fuenteEjemplo{
    font-family: Pecita;
    font-size: 30px;
 }


  p.pedro{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

  ul.ulImagen{
    list-style-image: url(./juansorduro.jpeg);
    list-style-position:inside;
    text-decoration:underline;
    font-size: 50px;
    padding: 50px;
  }

  h2.listaRoña{
    font-size: 50px;
    color: rgb(255, 1, 204);
    font-family: "Bebas Neue", serif;
  }
  
  p.pHover{
    text-transform: uppercase;
    background-color: white;
    border: black 5px dotted;
  }
  p.pHover:hover{
    background-color: black;
    color: white;
    border: rgb(246, 250, 4) 5px ridge;
  }

  
  
