.google{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: beige;
    margin-top: -15px;
    color: red;
}
.yahoo{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: beige;
    margin-top: -15px;
    color: red;
}

.duck{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: beige;
    margin-top: -15px;
    color: red;
}

.correo{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: beige;
    margin-top: -15px;
    color: red;
}